.cf-dontlike {
    background-color: #ffbebe;
    border: 1px solid red;
    border-radius: 3px;
    font-weight: bold;
    padding: 3px 8px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none !important;
}

.cf-dontlike.sent {
    color: green;
}

.cf-dontlike.sent:hover {
    background: inherit !important;
    color: green;
}

.cf-dontlike:hover {
    background: #eee;
    border-radius: 2px;
}

.cf-dontlike > img {
    vertical-align: sub;
}

.cf-classifier {
    position: relative;
    display: inline-block;
}

.cf-dropdown {
    border: 2px solid #eee;
    background-color: white;
    color: black;
    display: none;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.cf-dropdown a {
    color: black !important;
    display: block;
    padding: 8px;
    text-decoration: none;
}

.cf-option-used {
    background-color: #b7ffb7;
}

.cf-dropdown a:hover {
    background-color: #efefef;
    color: black !important;
    text-decoration: none;
}
