.cf-dontlike {
    background: inherit;
    border: 0;
    color: #f96e6e;
    font-weight: bold;
    padding: 2px 8px;
    text-decoration: none !important;
}

.cf-dontlike.sent {
    color: green;
}

.cf-dontlike.sent:hover {
    background: inherit !important;
    color: green;
}

.cf-dontlike:hover {
    background: #eee;
    border-radius: 2px;
}
