body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    margin: 3em;
}
h2 {
    margin-top: 3em;
}
img.logo {
    max-width: 40px;
}
div.table {
    margin: 10px auto;
}
table {
    border-collapse: collapse;
    padding: 0;
    max-width: 70%;
}
table, tr, td, th {
    padding: 4px 10px 4px 0 !important;
    line-break: none;
}
td, th {
    padding: 6px;
}
th {
    text-align: left;
}
td.monospace {
    font-family: monospace;
    font-size: 9pt;
}

.screens {
    border: 1px solid #eee;
    box-shadow: 5px 5px #ccc;
    border-radius: 8px;
    float: right;
    margin: 0 2em;
}

.wrapper {
    max-width: 150ch;
}
.quote {
    background-color: #f5f5f5;
    padding: 3px 10px;
}

.pos { color:green; }
.neg { color:darkred; }
form > * { margin: 6px; }
.thanks { color: green; display: none; }
table#classifiers td {
    padding: 3px 3em 3px 0;
}
